
  <!-- ---Header---- -->

  <!-- home seection -->
{% extends 'base.html'%}
 {%block content%}
{% load static%}
<div class="post">
  

<form method="POST" >
   {% csrf_token %}
 
    <div class="article crt-post">
      <h3>Change password</h3>
      <br>
      <p>{{form.new_password1.label}} :</p>
      <p>{{form.new_password1}}</p>
      <p>{{form.new_password2.label}} :</p>
      <p>{{form.new_password2}}</p>
      <button class="btn" type="submit">Confirm</button>
      <button class="btn btn-2" onclick="goBack()">Cancel</button>
    </div>
    </form>
    </div>

<script>
document.getElementsByTagName('input')[0].placeholder="Create Post"

function goBack() {
  window.history.back();
}

</script>

  {%endblock%}
  <!-- home seection -->

 