<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/png" href="images/logo.png" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> <!-- Custom CSS -->
  <link rel="stylesheet" type="text/css" href="./css/main.css">
  <link rel="stylesheet" type="text/css" href="./css/login.css">
</head>

<body>

  <!-- ------------------To be same----------------------- -->

  <div class="row">
    <div class="col-sm-3">

    </div>
    <div class="post-page col-sm-6">
    
      <!----------------------- Posts ------------------------------->

      <div class="post create-post">
        <div class="user-title d-flex align-items-center">
           <img class="profile" src="images/demo-user.jpg">
          <div ><p class="user-name"><a href="#">Rijan Redwan</a></p>
            <p class="time">13h</p>
          </div >
        </div>

        <div class="article">
          <p>Its not that I don’t want to be happy . Its a despite how hard I try I can’t bring myself to be happy . I feel suffocated , embarrassed , ashamed ,
   Why did I have to be this way?
  I have great family, amazing friends, love ones, future plannings and a amazing life !Everything is okay !
  Yet all I ever seem to see is sadness and grey. Its like there’s this burden on me pulling me to the ground and however hard I try i can’t bring myself out! I can’t bring myself to care!… See More</p>
        </div>
        <div class="lik-com-no d-flex justify-content-between">

            <span>50 likes</span>
            <span>25 comments</span>

        </div>
        <div class="lik-com-btn post-create-btn">
          <span ><a href="#"><i class="far fa-thumbs-up"></i>Like</a></span>
          <span ><a href="#"><i class="far fa-comment-alt"></i>Comment</a> </span>
        </div>
      </div>
      <!----------------------- Posts ------------------------------->

    </div>
    <div class="col-sm-3">

    </div>
  </div>
  <!-- ------------------To be same----------------------- -->

  <!-- Optional JavaScript; choose one of the two! -->
  <script src="https://kit.fontawesome.com/d43fb7b338.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>

</html>
